<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="demoxml.ClassA">
	      <methods>
	      	<include name="methodAThree"></include>
	      </methods>
      </class>
      <class name="demoxml.ClassB">
      	<methods>
      		<exclude name="methodBOne"></exclude>
      	</methods>
      	</class>
      <class name="demoxml.ClassC">
      	<methods>
      		<exclude name="methodCTwo"></exclude>
      	</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
